@font-face {
  font-family: "GoyangIlsan";
  font-weight: 700;
  src: url("./GoyangIlsanR-Regular.woff2") format("woff2")
}

@font-face {
  font-family: "GoyangIlsan";
  font-weight: 400;
  src: url("./GoyangIlsan_L.woff2") format("woff2");
}