@font-face {
    font-family: 'GoyangIlsan';
    font-weight: 700;
    font-style: normal;
    src: url('https://raw.githubusercontent.com/eddylily/projectlily/blob/main/fonts/KintexR/GoyangIlsanR-Regular.woff') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'GoyangIlsan';
    font-weight: 400;
    font-style: normal;
    src: url('https://raw.githubusercontent.com/eddylily/projectlily/blob/main/fonts/KintexL/GoyangIlsan_L.woff2') format('woff2');
    font-display: swap;
}