* {
    box-sizing: border-box;
  }
  
  @font-face{
      font-family: 'KintexL';
      src: url('./fonts/KintexL/GoyangIlsan_L.woff2') format(‘woff2’), 
           url('./fonts/KintexL/GoyangIlsan_L.ttf') format('truetype'),
           url('./fonts/KintexL/GoyangIlsan_L.woff') format(‘woff’),
           url('./fonts/KintexR/GoyangIlsan_L.eot?#iefix') format('embedded-opentype');
  }
  @font-face{
      font-family: 'KintexR';
      src: url('./fonts/KintexR/GoyangIlsanR-Regular.woff2') format(‘woff2’),
           url('./fonts/KintexR/GoyangIlsanR-Regular.ttf') format('truetype'),
           url('./fonts/KintexR/GoyangIlsanR-Regular.woff') format(‘woff’), 
           url('./fonts/KintexR/GoyangIlsanR-Regular.eot?#iefix') format('embedded-opentype');
  }
  div {
      font-family: 'KintexL';
      font-weight: normal;
      font-style: normal;
  }
  div {
      font-family: 'KintexR';
      font-weight: normal;
      font-style: normal;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  html { width: 640px; }

  body {
    font-family: 'KintexL', 'KintexR', Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #FFFFFF 752px, #f8bbd0 1920px);
    color: #000000;
    width: 640px;
  }
  
  header {
    height: 96px;
  }
  
  a:link {
    color: #e91e63;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #e91e63;
  }
  a:visited {
    color: #e91e63;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #e91e63;
  }
  a:hover {
    color: #F48FB1;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #F48FB1;
  }
  a:active {
    color: black;
    text-decoration-line: none;
  }
 
 /*
  langchange {
    position: absolute;
    left: 10%;
    width: 64px;
    height: 64px;
  } */
  
  epinkbox {
    position: absolute;
    left: 48px;
    width: 320px;
    height: 240px;
    background: #F48FB1;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    padding-bottom: 16px;
  }
  
  ename {
    position: absolute;
    top: 352px;
    left: 48px;
    width: 640px;
    height: 224px;
    padding-left: 0px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 16px;
  }
  
  esign {
    position: absolute;
    top: 716px;
    left: 48px;
    width: 320px;
    height: 180px;
  }
  
  /* * * * * * * * */
  
  btn_github {
    position: absolute;
    top: 592px;
    left: 48px;
    width: 96px;
    height: 96px;
    background: #f06292;
    padding: 16px;
    display: block;
  }
  
  btn_github > img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  btn_github > span {
    position: absolute;
    width: 96px;
    height: 24px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  btn_twitter {
    position: absolute;
    top: 592px;
    left: 160px;
    width: 96px;
    height: 96px;
    background: #f06292;
    padding: 16px;
    display: block;
  }
  
  btn_twitter > img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  btn_twitter > span {
    position: absolute;
    width: 96px;
    height: 24px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  btn_blog {
    position: absolute;
    top: 592px;
    left: 272px;
    width: 96px;
    height: 96px;
    background: #f06292;
    padding: 16px;
    display: block;
  }
  
  btn_blog > img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  btn_blog > span {
    position: absolute;
    width: 96px;
    height: 24px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  edivider {
    position: absolute;
    top: 868px;
    left: 48px;
    border-top: 2px solid #757575;
    width: 320px;
  }
  
  /* * * * * * * * */
  
  eedu {
    position: absolute;
    top: 900px;
    left: 16px;
    width: 720px;
    height: 32px;
    padding: 16px;
    line-height: 24px;
  }
  
  eeducontents {
    position: absolute;
    top: 948px;
    left: 32px;
    width: 720px;
    height: 540px;
    padding: 16px;
    line-height: 24px;
  }
  
  eeduline {
    position: absolute;
    top: 948px;
    left: 16px;
    border-left: thick solid #e91e63;
    height: 88px;
    transform: translate(16px, 8px);
  }
  
  /* * * * * * * * */
  
  eachs {
    position: absolute;
    top: 1084px;
    left: 16px;
    width: 720px;
    height: 32px;
    padding: 16px;
    line-height: 24px;
  }
  
  eachscontents {
    position: absolute;
    top: 1132px;
    left: 32px;
    width: 720px;
    height: 540px;
    padding: 16px;
    line-height: 24px;
  }
  
  eachsline {
    position: absolute;
    top: 1132px;
    left: 16px;
    border-left: thick solid #e91e63;
    height: 88px;
    transform: translate(16px, 8px);
  }
  
  /* * * * * * * * */
  
  eexps {
    position: absolute;
    top: 1268px;
    left: 16px;
    width: 720px;
    height: 32px;
    padding: 16px;
    line-height: 24px;
  }
  
  eexpscontents {
    position: absolute;
    top: 1316px;
    left: 32px;
    width: 720px;
    height: 540px;
    padding: 16px;
    line-height: 24px;
  }
  
  eexpsline {
    position: absolute;
    top: 1316px;
    left: 16px;
    border-left: thick solid #e91e63;
    height: 216px;
    transform: translate(16px, 8px);
  }
  
  /* * * * * * * * */
  
  epast {
    position: absolute;
    top: 1580px;
    left: 16px;
    width: 720px;
    height: 32px;
    padding: 16px;
    line-height: 24px;
  }
  
  epastcontents {
    position: absolute;
    top: 1628px;
    left: 32px;
    width: 720px;
    height: 540px;
    padding: 16px;
    line-height: 24px;
  }
  
  epastline {
    position: absolute;
    top: 1628px;
    left: 16px;
    border-left: thick solid #e91e63;
    height: 144px;
    transform: translate(16px, 8px);
  }
  
  /* * * * * * * * */
  
  efooter {
    position: absolute;
    top: 1868px;
    left: 48px;
    width: 640px;
    height: 96px;
  }
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    position: absolute;
    bottom: 0%;
    width: 104%;
    height: 32px;
    transform: translateX(-4%);
    padding: 16px;
    background: #f06292;
    text-align: center;
    color: white;
  }